<div id="discover-result-{{id}}" class="discover-container discover-results hidden">
    <div class="grid-style-display">
        <div class="grid-close-1 close-button">
            <p class="close">x</p>
        </div>
        <div class="grid-close-2">
            <h3 class="discover idea">{{title}}</h3>
        </div>
    </div>
    <button class="btn btn-default list">+ to list</button>
    {{!-- <button class="btn btn-default tryAgain">NEW IDEA</button> --}}
</div>