<header>
	<div class="header-grid-container center-flex">
		<div class="header-grid-container-1">
			<div class="nav-bar">
				<div class="link-holder">
					<a href="/" class="nav-link" id="home">HOME</a>
					<a href="" class="nav-link" id="list">MY LIST</a>
					<a href="/newactivity" class="nav-link" id="add">+ ADD</a>
					<a href="/discover" class="nav-link" id="discover">DISCOVER</a>
					<a href="/map" class="nav-link" id="map">MAP</a>
				</div>
			</div>
		</div>
		<div class="grid-container-2 center-flex">
			<div class="logo-container">
				<h1><span id="hidden-logo"></span>SE7EN</h1>
			</div>
		</div>
	</div>
</header>