<!DOCTYPE html>
<html lang="en">

<head>
	<title>se7en</title>
</head>
<body>
	<div class="wrapper">
		<header>
			<div class="header-grid-container center-flex">
				<div class="grid-container-1">
					<div class="welcome div-welcome">
						<h2 class="welcome">Welcome</h2>
					</div>
				</div>
				<div class="grid-container-2 center-flex">
					<div class="logo-container">
						<h1>SE7EN</h1>
					</div>
				</div>
				<div class="grid-container-3">
					<div class="nav-bar">
						<div class="link-holder">
							<a href="" class="nav-link" id="home">HOME</a>
							<a href="" class="nav-link" id="list">MY LIST</a>
							<a href="" class="nav-link" id="add">+ ADD</a>
							<a href="" class="nav-link" id="search">SEARCH</a>
							<a href="" class="nav-link" id="map">MAP</a>
						</div>
					</div>
				</div>
			</div>
		</header>
		{{{ body }}}
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>