<!DOCTYPE html>
<html lang="en">
	<head>
		<title>se7en</title>
	</head>
	<body>
	    <header>
			<div class="header-grid-container">
				<div class="grid-container-1">
					<div class="welcome">
						<h2 class="welcome">{{title}}</h2>
					</div>
				</div>
				<div class="grid-container-2">
					<div class="logo-container">
						<img src="" alt="">
					</div>
				</div>
                <div class="grid-container-3">
                    <div class="nav-bar">
                        <div class="link-holder">
                            <a href="" class="nav-link" id="home">HOME</a>
                            <a href="" class="nav-link" id="list">MY LIST</a>
                            <a href="" class="nav-link" id="add">+ ADD</a>
                            <a href="" class="nav-link" id="search">SEARCH</a>
                            <a href="" class="nav-link" id="map">MAP</a>
                        </div>
                    </div>
                </div>
    	</header>
		{{{ body }}}
	</body>
</html>