<!DOCTYPE html>
<html lang="en">
	<head>
		<title>se7en</title>
	</head>
	<body>
	    <header>
			<div class="header-grid-container">
				<div class="grid-container-1">
					<div class="welcome">
						<h2 class="welcome">Welcome</h2>
					</div>
				</div>
				<div class="grid-container-2">
					<div class="logo-container">
						<img src="" alt="">
					</div>
				</div>
				<div class="grid-container-3">
					<div class="username">
						<h3 class="username">{{username}}</h3>
					</div>
				</div>
			</div>
    	</header>
		{{{ body }}}
	</body>
</html>
