<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>se7en</title>
</head>
<body>
    <header>
        <div class="header-grid-container">
            <div class="grid-container-1">
                <div class="welcome">
                    <h2 class="welcome">Welcome</h2>
                </div>
            </div>
            <div class="grid-container-2">
                <div class="logo-container">
                    <img src="" alt="">
                </div>
            </div>
            <div class="grid-container-3">
                <div class="sign-up">
                    <h2 class="sign-up">SIGN UP</h2>
                </div>
            </div>
            <div class="grid-container-4">
                {{{ body }}}
            </div>
        </div>
    </header>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../public/js/signup.js"></script>
</body>
</html>