<header>
	<div class="header-grid-container">
		<div class="grid-container-1">
			<div class="welcome">
				<h2 class="welcome">welcome</h2>
			</div>
		</div>
		<div class="grid-container-2">
			<div class="logo-container">
				<img src="" alt="">
			</div>
		</div>
		<div class="grid-container-3">
			<div class="login">
                <input class="login-input email" type="email" name="" id="">
                <input class="login-input password" type="password" name="" id="">
				<a class="buttons btn-login" href="">LOG IN</a>
                <a class="buttons btn-join"href="">JOIN</a>
			</div>
		</div>
	</div>
</header>