<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Montserrat:ital,wght@0,500;1,200;1,400&family=Shrikhand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/login.css">
    <title>se7en</title>
</head>
<div class="container">
    <div class="mini-grid-container">
        <div class="grid-2">
            <div class="join">
                <a class="button btn btn-join" href="/join">JOIN</a>
            </div>
        </div>
        <div class= "grid-1">
            <div class="cometholder">
                <div class="circle-1">
                    <div class="circle-2">
                        <div class="comet">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/login.js"></script>