<div class="wrapper">
    <header>
        <div class="header-grid-container center-flex">
            <div class="grid-container-2 center-flex">
                <div class="logo-container">
                    <h1>SE7EN</h1>
                </div>
            </div>
            <div class="grid-container-3">
                <div class="loginForm">
                    <form class="login">
                        <input class="form-control" type="email" name="" id="email-input" placeholder="email">
                        <input class="form-control" type="password" name="" id="password-input" placeholder="Password">
                        <button type="submit" class="btn btn-default jello-horizontal">log in</button>
                        {{!-- <a class="buttons btn-login" href="">LOG IN</a> --}}
                    </form>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="animation-container">
            <div class="quote-container">
                <h5 class="slide-in-blurred-right-1"><span class="quotes">“ </span>The climate crisis has already been solved.<h5>
                <h5 class="slide-in-blurred-right-2"><span> </span>We already have all the facts and solutions.</h5>
                <h5 class="slide-in-blurred-right-3"><span>     </span>All we have to do is to wake up and change.<span class="quotes"> ”</span></h5>
                <h5 class="slide-in-blurred-right-4"><span>    </span>- <span class="name">Greta Thunberg</span></h5>
            </div>
        </div>    
        <div class="mini-grid-container">
            <div class="grid-1">
                <div class="cometholder blink-2">
                    <div class="circle-1 blink-2 rotate-center">
                        <div class="circle-2 pulsate-fwd">
                            <div class="join">
                                <a class="button btn btn-join" href="/join">JOIN</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/login.js"></script>