<body>
	
			<div class="login">
                <input class="login-input email" type="email" name="" id="">
                <input class="login-input password" type="password" name="" id="">
				<a class="buttons btn-login" href="">LOG IN</a>
            </div>
            <div class="join">
                <a class="buttons btn-join"href="">JOIN</a>
            </div>
</body>