<div class="wrapper">
    {{> header }}

    <div class="container">
        <div class="grid-style">
            <div class="grid grid-1">
                <div class="circle-container">
                    <div class="circle">
                        <div class="map-box-container">
                            <div class="map-box">
                                <div id="mainMap"></div>
                                <div class="info-windows">
                                    {{#each mapPoints}}
                                        {{>info-window}}
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid grid-2">
                <div class="search-container">
                    <h3>ZIPCODE</h3>
                    <input type="text" placeholder="43210">
                    <button class="btn btn-default">FIND</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/maps.js"></script>
<script src="/js/header.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZmqaXxP63ku66TlRw05Ua1wyD8bEaLkA&callback=initMap&libraries=places&v=weekly"></script>