<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Montserrat:ital,wght@0,500;1,200;1,400&family=Shrikhand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/search.css">
    <title>se7en</title>
</head>
<body>
    <div class="container">
        <div class="grid-style">
            <div class="grid grid-1">
                <div class="circle-container">
                    <div class="circle">
                        <div class="map-box-container">
                            <div class="map-box"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid grid-2">
                <div class="search-container">
                    <h3>ZIPCODE</h3>
                    <input type="text" placeholder="43210">
                    <button class="btn btn-default">FIND</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>