<div class="wrapper">
    <header>
        <div class="header-grid-container center-flex">
            <div class="grid-container-1">
                <div class="welcome div-welcome">
                    <h2 class="welcome">Hello</h2>
                </div>
            </div>
            <div class="grid-container-2 center-flex">
                <div class="logo-container">
                    <h1>SE7EN</h1>
                </div>
            </div>
            <div class="grid-container-3 center-flex">
                <div class="username div-username">
                    <h3 class="username">{{username}}</h3>
                </div>
            </div>
        </div>
    </header>
    <div class="wrapper-2">
        <section class="section-a">
            <div class="section-grid-container">
                <div class="grid-container grid-container-10">
                    <div class="slogan-container">
                        <h3 id="slogan">Your bucket list for the end of the world</h3>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-b">
            <div class="main-grid-container">
                <div class="grid-container grid-container-100">
                    <div class="image-square image-square-1">
                        <div class="square square-1">
                            <div class="header-container my-list">
                                <h2 class="my-list"><span class="member-name"></span>MY BUCKET LIST</h2>
                            </div>    
                        </div>
                    </div>
                </div>
                <div class="grid-container grid-container-101">
                    <div class="image-square image-square-2">
                        <div class="square square-2">
                            <div class="header-container new-activity">
                                <h2 class="new-activity" id="new-list-item">+ADD TO LIST</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-container grid-container-102">
                    <div class="image-square image-square-3">
                        <div class="square square-3">
                            <div class="header-container search">
                                <h2 class="search">DISCOVER</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-container grid-container-103">
                    <div class="image-square image-square-4">
                        <div class="square square-4">
                            <div class="header-container map">
                                <h2 class="map">IDEA MAP</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
<script src="js/members.js"></script>
