<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>se7en</title>
</head>

<body>
    <section>
        <div class="section-grid-container">
            <div class="grid-container-10">
                <div class="slogan-container">
                    <h3>Your bucket list for the end of the world</h3>
                </div>
            </div>
        </div>
    </section>
    <main>
        <div class="main-grid-container">
            <div class="grid-container-100">
                <div class="square square-1">
                    <div class="my-list">
                        <h2 class="my-list"><span class="member-name"></span>BUCKET LIST</h2>
                    </div>
                    <div class="decorative-my-list">

                    </div>
                    <div class="button-container">
                        <a class="button btn-my-list" href="">VIEW</a>
                    </div>

                </div>
            </div>
            <div class="grid-container-101">
                <div class="square square-2">
                    <div class="new-activity">
                        <h2 class="new-activity">NEW ACTIVITY</h2>
                    </div>
                    <div class="button-container">
                        <a class="button btn-new-activity" href="">POST</a>
                    </div>
                </div>
            </div>
            <div class="grid-container-102">
                <div class="square square-3">
                    <div class="search">
                        <h2 class="search">FIND THINGS TO DO</h2>
                    </div>
                    <div class="button-container">
                        <a class="button btn-search" href="">SEARCH</a>
                    </div>
                </div>
            </div>
            <div class="grid-container-103">
                <div class="square square-4">
                    <div class="map-top-container">
                        <div class="map">
                            <h2 class="map">MAP</h2>
                            <img src="" alt="">
                        </div>
                    </div>
                    <div class="button-container">
                        <a class="button btn-map" href="">VIEW</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>