<div class="wrapper">
    {{> header }}

    <div>
        <ul class="user-list">
        </ul>
    </div>

    {{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
    <script src="js/my-bucketlist.js"></script>
</div>