<div class="wrapper">
    {{> header }}
    <div class="container">
        <div class="title-container">
            <h2 class="user-name"></h2>
        <div>
        <div class="list-container">
            <ul class="user-list">
                {{#each bucketListItems}}
                    <li>{{this.title}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/my-bucketlist.js"></script>
