<div class="wrapper">
    {{> header }}
    <div class="container">
        <div class="form">
            <form class="create-form">
                <div class="grid grid-1">
                    <h3>What do you want to add to your bucket list?</h3>
                    <input type="text" id="title" name="title">
                </div>
                <div class="grid grid-2">
                    <h3>Give a brief description</h3>
                    <textarea id="description" name="description"></textarea>
                </div>
                <div class="grid grid-3">
                    <h3>How would you categorize it?</h3>
                    <div class="selector-container">
                        <input class="bubbles" type="radio" id="adeventure" value="adventure" name="category">
                        <label for="adventure">Adventure</label>
                        <input class="bubbles" type="radio" id="homebody" value="homebody" name="category">
                        <label for="homebody">Homebody</label>
                        <br><br>
                        <input class="bubbles" type="radio" id="create" value="create" name="category">
                        <label for="create">Create</label>
                        <input class="bubbles" type="radio" id="take-action" value="take-action" name="category">
                        <label for="take-action">Take Action</label>
                        <input class="bubbles" type="radio" id="other" value="other" name="category">
                        <label for="other">Other</label>
                    </div>
                </div>
                <div class="grid grid-4">
                    <h3>Are you seeing collaborators?</h3>
                    <div class="selector-container">
                        <input class="bubbles" type="radio" id="true" value="true" name="collaborators">
                        <label for="true">yes</label>
                        <input class="bubbles" type="radio" id="false" value="false" name="collaborators">
                        <label for="false">no</label>
                    </div>
                </div>
                <div class="grid grid-5">
                    <h3>Where will it take place?</h3>
                    <input type="text" id="location" name="location">
                </div>
                <div class="grid grid-6">
                    <button class="submit btn btn-default" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/add-bucketlist.js"></script>