<div class="wrapper">
    {{> header}}
    <div class="container">
        <div class="grid-style">
            <div class="grid grid-1">
                <div class="circle-container">
                    <div class="circle">
                        <div class="map-box-container">
                            <div class="discover-container start-discover">
                                <h3 class="discover">What if you...</h3>
                            </div>
                            <div class="discover-container discover-results hidden">
                                <div class="grid-style-display">
                                    <div class="grid-close-1 close-button">
                                        <p class="close">x</p>
                                    </div>
                                    <div class="grid-close-2">
                                        <h3 class="discover idea"></h3>
                                    </div>
                                </div>
                                <button class="btn btn-default list">+ to list</button>
                                <button class="btn btn-default tryAgain">NEW IDEA</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid grid-2">
                <button class="btn btn-default new-idea">NEW IDEA</button>
            </div>
        </div>
    </div>
</div>
{{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
<script src="js/search.js"></script>
<script src="/js/header.js"></script>


<!-- 


                <div class="discover-container">
                    <button class="btn btn-default">FIND</button>
                </div>
            </div>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="js/search.js"></script> -->