<form class="signup">
    <input id = "first-name" type = "text" name="firstname" placeholder="First Name">
    <input id = "last-name" type = "text" name="lastname" placeholder="Last Name">
    <input id = "email-input" type="email" name="email" id="" placeholder="email">
    <input id ="password-input" type="password" name="password" id="" placeholder="password">
    <div class="join">
        <a class="buttons signup"href="">SUBMIT</a>
    </div>
</form>