.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    height: 40%;
}

.container {
    align-items: center;
    height: 60%
}

.header-grid-container {
    width: 100%;
    grid-column-gap: 2em;
    grid-template-rows: auto;
}

.mini-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr, 1fr;
    grid-gap: 1.3em;
    height: 80%;
    width: 80%;
}

.grid-1 {
    grid-row: span 1;
    grid-column: span 1;
    height: 100%;
    width: 100%;
}

.cometholder {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-2 {
    grid-row: span 1;
    grid-column: span 1;
    height: 100%;
    width: 100%;
}

.loginForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.login {
    display: contents;
}

input {
    margin-top: 0em;
    margin-bottom: .5em;
}


/*BUTTONS*/

.btn-default {
    margin-top: .8em;
}

.btn-join {
    font-size: 1.8em;
    padding: 1em 0em;
    border-top: .5em solid #71b3d4;
    border-bottom: .5em solid #2d3672;
}

.btn-join:hover {
    cursor: pointer;
    color: #222260;
    font-size: 3.0em;
    border-bottom-color: #63a0c8;
    border-top-color: #5384a0;
    padding: .5em 3em;
}


/*IMAGES*/

.circle-1 {
    height: 25em;
    width: 25em;
    background-color: rgba(92, 149, 193, 1);
    border-radius: 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -7px 14px 0px 0px rgba(0, 41, 158, 0.3);
    -webkit-box-shadow: -7px 14px 0px 0px rgba(0, 41, 158, 0.3);
    -moz-box-shadow: -7px 14px 0px 0px rgba(0, 41, 158, 0.3);
}

.circle-2 {
    height: 20em;
    width: 20em;
    background-color: rgba(92, 149, 193, 1);
    border-radius: 126px;
    background: linear-gradient(225deg, #83cde5, #5c95c1);
    box-shadow: -24px 24px 0px #3a5b66, 24px -24px 0px #e8ffff;
}

.comet {
    background-repeat: no-repeat;
    background-image: url(images/icons/falling-asteroid.svg);
    background-position-y: center;
    background-position-x: center;
    height: 100%;
    width: 100%;
}