:root {
    background-color: (240, 248, 255, 100%);
}


/*CONTAINER*/

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(25 32 37 / 99%);
}

header {
    height: 30%;
    background-color: rgb(25 32 37 / 99%);
}

.container {
    align-items: center;
    background: rgb(25 31 37);
    flex-direction: column;
}


/*GRID*/

.header-grid-container {
    width: 100%;
    grid-column-gap: 2em;
    grid-template-rows: auto;
    max-height: 50em;
    padding-bottom: 0em;
}

.grid-container-2 {
    grid-column: span 1;
    grid-row: span 2;
    height: 100%;
    width: 130%;
}

.logo-container {
    background-color: rgb(25 32 37 / 99%);
    max-height: 35em;
    box-shadow: -7px 14px 0px 0px rgb(65 79 119);
    -webkit-box-shadow: -7px 14px 0px 0px rgb(65 79 119);
    -moz-box-shadow: -7px 14px 0px 0px rgb(65 79 119);
}

.mini-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;
    max-width: 50em;
}

.grid-container-3 {
    grid-row: span 2;
    grid-column: span 1;
    width: 90%;
}

.grid-1 {
    grid-row: span 1;
    grid-column: span 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(25 32 37 / 99%);
}

.cometholder {
    height: 34em;
    width: 34em;
    max-height: 50em;
    max-width: 50em;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(197 58 77 / 17%);
    box-shadow: inset 20px -18px 20px 0px rgb(0 0 0), 20px -18px 20px 0px rgb(92 112 174 / 63%);
}

.loginForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.login {
    display: contents;
}

input {
    padding: .6em 0em;
    margin-top: .4em;
    margin-bottom: 1em;
    border: .2em solid rgb(231 240 254);
    box-shadow: -7px 14px 0px 0px rgb(65 79 119);
    -webkit-box-shadow: -7px 14px 0px 0px rgb(65 79 119);
    -moz-box-shadow: -7px 14px 0px 0px rgb(65 79 119);
}


/*BUTTONS*/

.btn-default {
    margin-top: 1em;
    border: .2em solid rgb(231 240 254);
    padding: .5em;
    color: rgb(231 240 254);
    width: 8em;
    font-size: 1.2rem;
    background-color: transparent;
    box-shadow: -7px 14px 0px 0px rgba(136 106 123);
    -webkit-box-shadow: -7px 14px 0px 0px rgb(136 106 123);
    -moz-box-shadow: -7px 14px 0px 0px rgba(136 106 123);
}

.btn-join {
    font-size: 1.6rem;
    font-weight: 600;
    border-top: .3em solid rgb(136 106 123);
    border-bottom: .8em double rgb(136 106 123);
    color: rgb(230 239 253);
    padding: .8em;
}

.btn-join:hover {
    cursor: pointer;
    font-size: 2.0rem;
    padding: .5em 3em;
    background-repeat: no-repeat;
    background-image: url(images/icons/falling-asteroid.svg);
    background-position: right;
    height: 100%;
    width: 100%;
    transition: ease 0.2s;
}


/*IMAGES*/

.circle-1 {
    height: 80%;
    width: 80%;
    max-height: 50em;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.circle-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25em;
    width: 25em;
    border: 5.2em solid rgb(25 31 37 / 54%);
    background-color: rgb(231 240 254);
    border-radius: 126px;
    background: linear-gradient(225deg, rgb(255 255 255 / 0%), rgb(206 172 210));
    box-shadow: -18px 20px 20px 20px rgb(214 185 217), inset 24px -24px 18px 0px rgb(231 240 254), 20px 7px 19px 3px rgb(215 185 217), -7px 20px 20px 20px rgb(255 53 80), -20px 2px 20px 20px rgb(231 240 254);
}


/*WORDS*/

h1 {
    font-size: 4rem;
    color: rgb(188 104 125);
    color: rgb(230 239 253);
    overflow: overlay;
    text-shadow: none;
}

h5 {
    color: rgb(231 240 254);
    font-size: 1.4rem;
    font-style: italic;
    line-height: 1.5;
    font-weight: 300;
    padding-right: 1em;
}

.name {
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(231 240 254);
}

.quotes {
    font-weight: 700;
    font-size: 1.8rem;
    color: rgb(231 240 254);
}


/*KEYFRAMES & Animations*/

.animation-container {
    max-width: 100%;
}

.quote-container {
    max-width: 40em;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slide-in-blurred-right-1 {
    -webkit-animation: slide-in-blurred-right-1 ease-in 3s 1 both;
    animation: slide-in-blurred-right-1 ease-in 3s 1 both;
}

.slide-in-blurred-right-2 {
    -webkit-animation: slide-in-blurred-right-2 ease-in 4s 1 both;
    animation: slide-in-blurred-right-2 ease-in 4s 1 both;
}

.slide-in-blurred-right-3 {
    -webkit-animation: slide-in-blurred-right-3 ease-in 5s 1 both;
    animation: slide-in-blurred-right-3 ease-in 5s 1 both;
}

.slide-in-blurred-right-4 {
    -webkit-animation: slide-in-blurred-right-4 ease-in 6s 1 both;
    animation: slide-in-blurred-right-4 ease-in 6s 1 both;
}

.rotate-center {
    -webkit-animation: rotate-center 15s linear infinite both;
    animation: rotate-center 15s linear infinite both;
}

.pulsate-fwd {
    -webkit-animation: pulsate-fwd 10s ease-in-out infinite both;
    animation: pulsate-fwd 10s ease-in-out infinite both;
}

.blink-2 {
    -webkit-animation: blink-2 ease-in 10s 1 both;
    animation: blink-2 ease-in 10s 1 both;
}

.jello-horizontal {
    -webkit-animation: jello-horizontal 0.9s 6s both;
    animation: jello-horizontal 0.9s 6s both;
}

@-webkit-keyframes slide-in-blurred-right-1 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide-in-blurred-right-1 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes slide-in-blurred-right-2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    80% {
        opacity: 0.3
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide-in-blurred-right-2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes slide-in-blurred-right-3 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide-in-blurred-right-3 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes slide-in-blurred-right-4 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide-in-blurred-right-4 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink-2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink-2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}