.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    height: 40%;
}

.grid-container-1 {
    background-color: aliceblue;
}

.grid-container-2 {
    background-color: aliceblue;
}

.grid-container-3 {
    background-color: aliceblue;
}

.container {
    align-items: flex-start;
    height: 60%;
    background-color: aliceblue;
}

.header-grid-container {
    width: 100%;
    grid-column-gap: 2em;
    grid-template-rows: auto;
}

.mini-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;
    max-width: 50em;
}

.grid-1 {
    grid-row: span 1;
    grid-column: span 1;
    height: 100%;
    width: 100%;
}

.cometholder {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.login {
    display: contents;
}

input {
    margin-top: 0em;
    margin-bottom: 1em;
    border: .2em solid #f3faff;
}


/*BUTTONS*/

.btn-default {
    margin-top: 1em;
    border: .2em solid #9fb7e3;
    padding: .5em;
    color: #333;
    width: 8em;
    font-size: 1.2rem;
    background-color: #e7f0fe;
}

.btn-join {
    font-size: 3em;
    padding: .2em 0em;
    border-top: .2em solid #acbae3;
    border-bottom: .2em solid #acbae3;
    color: #ffffff;
}

.btn-join:hover {
    cursor: pointer;
    font-size: 5em;
    padding: .5em 3em;
    background-repeat: no-repeat;
    background-image: url(images/icons/falling-asteroid.svg);
    background-position-y: center;
    background-position-x: center;
    height: 100%;
    width: 100%;
}


/*IMAGES*/

.circle-1 {
    height: 100%;
    width: 100%;
    background-color: rgb(156 230 254 / 77%);
    border-radius: 50% 50%;
    border-top: 1em solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -7px 14px 0px 0px rgba(0, 41, 158, 0.3);
    -webkit-box-shadow: -7px 14px 0px 0px rgba(0, 41, 158, 0.3);
    -moz-box-shadow: -7px 14px 0px 0px rgba(0, 41, 158, 0.3);
}

.circle-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25em;
    width: 25em;
    background-color: rgb(92 149 193 / 52%);
    border-radius: 126px;
    background: linear-gradient(225deg, #83cde5, #5c95c1);
    box-shadow: -20px 11px 4px 0px #98b4e3, 24px -24px 16px #e8ffff;
}


/*WORDS*/

h1 {
    text-shadow: none;
}

.welcome {
    color: #333;
    text-shadow: 0.5px 0.5px rgba(145, 228, 254, 1), 1px 1px rgba(145, 228, 254, 1), 1.5px 1.5px rgba(145, 228, 254, 1);
}