    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: #333;
        text-align: center;
        text-size-adjust: auto;
        overflow-wrap: break-word;
        font-family: 'Montserrat', sans-serif;
    }
    
    body {
        margin: 0 auto;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
     :root {
        font-size: 62.5%;
        background-image: url(images/just-waves.png);
    }
    
    .wrapper {
        width: 100%;
        margin: 0em auto;
        height: 100vh;
        background-color: rgba(240, 248, 255, .5);
    }
    
    .container {
        display: flex;
        justify-content: center;
        height: 70%;
        width: 100%;
    }
    
    .grid-container {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1.5rem;
        transition: all .2s linear;
    }
    
    .grid-container>* {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .center-flex {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /*MAIN*/
    
    header {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 30%;
    }
    /*Containers*/
    
    .header-grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 2em;
        grid-row-gap: 1em;
        height: 100%;
        width: 60%;
        padding-bottom: 1em;
        max-width: 50em;
    }
    
    .grid-container-1 {
        grid-column: span 1;
        grid-row: span 1;
        height: 100%;
        width: 100%;
    }
    
    .grid-container-2 {
        grid-column: span 1;
        grid-row: span 2;
        height: 100%;
        width: 100%;
    }
    
    .grid-container-3 {
        grid-column: span 1;
        grid-row: span 1;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .welcome {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-size: 3.2rem;
        text-shadow: -8px 3px 20px #b2bde3;
    }
    
    .logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80%;
        width: 100%;
        background-color: rgba(91, 150, 193, 1);
        box-shadow: -7px 14px 0px 0px rgba(0, 41, 158, 0.3);
        -webkit-box-shadow: -7px 14px 0px 0px rgba(0, 41, 158, 0.3);
        -moz-box-shadow: -7px 14px 0px 0px rgba(0, 41, 158, 0.3);
        border-radius: 1rem;
    }
    /*ACTIVITY HEADER*/
    
    .header-grid-container-1 {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: span 1;
        grid-row: span 2;
        background-color: aliceblue;
        padding: 3em;
        border-radius: 1em;
    }
    /*NAVIGATION*/
    
    .link-holder {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .nav-link {
        padding: .3em 0em;
        font-size: 1.2rem;
        color: #333;
        text-decoration: none;
    }
    
    input {
        padding: .6em;
        border: .2em solid #5c95c1;
        margin-top: 1em;
        box-shadow: -7px 14px 0px 0px rgba(0, 41, 158, 0.3);
        -webkit-box-shadow: -7px 14px 0px 0px rgba(0, 41, 158, 0.3);
        -moz-box-shadow: -7px 14px 0px 0px rgba(0, 41, 158, 0.3);
        border-radius: 1rem;
    }
    
    a {
        color: #5c95c1;
        transition: 0.4s linear;
        font-family: 'Montserrat', sans-serif;
    }
    
    a:hover {
        cursor: pointer;
        font-size: 2.8rem;
    }
    /*Words*/
    
    h1 {
        font-size: 3rem;
        padding: .3em;
        font-family: 'Beth Ellen', cursive;
        color: #ffffff;
        text-shadow: 1px 1px #222260, 1.5px 1.5px #222260, 2px 2px #222260;
    }
    
    h2 {
        font-size: 1.8rem;
        font-weight: 700;
        transition: 0.3s linear;
        text-shadow: .5px .5px rgba(145, 228, 254, 1), 1px 1px rgba(145, 228, 254, 1), 1.5px 1.5px rgba(145, 228, 254, 1);
    }
    
    h2:hover {
        position: relative;
        top: -3px;
        left: -3px;
        text-shadow: 1px 1px rgba(145, 228, 254, 1), 2px 2px rgba(145, 228, 254, 1), 3px 3px rgba(145, 228, 254, 1), 4px 4px rgba(145, 228, 254, 1), 5px 5px rgba(145, 228, 254, 1), 6px 6px rgba(145, 228, 254, 1);
    }
    
    h3 {
        font-size: 1.8rem;
        font-weight: 500;
    }
    /*BUTTONS*/
    
    .btn {
        text-decoration: none;
        font-family: "montserrat", sans-serif;
        transition: 0.5s linear;
    }
    
    .btn-default:hover {
        cursor: pointer;
        font-size: 1.8em;
    }
    
    .btn-default {
        width: 7em;
        text-transform: uppercase;
        border: .2em solid #5c95c1;
        padding: .4em;
        background-color: #5c95c1;
        color: white;
        font-size: 1.4em;
        border-radius: 1em;
        margin-top: .2em;
        box-shadow: -7px 14px 0px 0px rgba(0, 41, 158, 0.3);
        -webkit-box-shadow: -7px 14px 0px 0px rgba(0, 41, 158, 0.3);
        -moz-box-shadow: -7px 14px 0px 0px rgba(0, 41, 158, 0.3);
    }