:root {
    background-image: url("images/topography.png");
}


/*CONTAINERS*/

.logo-container {
    background-color: rgb(34, 34, 96, 1);
}

.container {
    align-items: center;
}

.circle-container {
    box-shadow: -24px -24px 0px rgb(34, 34, 96, 1), 24px 24px 0px rgb(172 184 224);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 87px;
    background: rgb(172 184 224);
    box-shadow: inset 28px 28px 0px 20px rgb(34, 34, 96, 1), inset 20px -19px 0px 20px rgb(212 213 233);
}

.search-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*GRID*/

.header-grid-container {
    width: 80%;
}

.grid-style {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr, 1fr;
}

.grid {
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgb(240 248 255)
}


/*WORDS*/

h3 {
    color: rgb(34, 34, 96, 1);
}


/*BUTTONS*/

.btn-default {
    border: .2em solid rgb(255 255 255);
    background-color: rgb(255 255 255);
    color: rgb(34, 34, 96, 1);
    margin-top: .3em;
}


/*TOGGLE CLASS*/

.hide {
    display: none;
}


/*MAP*/

#mainMap {
    height: 500px;
    width: 500px;
    height: 30EM;
    width: 30EM;
    box-shadow: -24px -24px 0px rgb(34, 34, 96, 1), 24px 24px 0px rgb(172 184 224);
    display: flex;
    align-items: center;
    justify-content: center;
}

.infowindow-content {
    display: none;
}

#mainMap .infowindow-content {
    display: inline;
}