:root {
    background-image: url("images/topography.png");
}


/*CONTAINERS*/

.logo-container {
    background-color: rgb(34, 34, 96, 1);
}

.container {
    align-items: center;
}

.circle-container {
    box-shadow: -24px -24px 0px #222260, 24px 24px 0px #acb8e0;
    height: 25em;
    width: 25em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    height: 60%;
    width: 60%;
    border-radius: 87px;
    background: #acb8e0;
    box-shadow: inset 28px 28px 0px 20px #222260, inset 20px -19px 0px 20px #d4d5e9;
}

.discover-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*GRID*/

.header-grid-container {
    width: 80%;
}

.grid-style {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr, 1fr;
    grid-gap: 4em;
    height: 80%;
    margin-top: 2em;
}

.grid {
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0 131 255 / 29%);
}


/*WORDS*/

#hidden-logo {
    display: none;
}

h1 {
    background-image: url("images/icons/galaxy.svg");
    background-repeat: no-repeat;
    font-size: 10em;
}

h3 {
    color: #222260;
}

input {
    background-color: #ffffff;
    padding: .6em;
    border: .2em solid #ffffff;
}


/*BUTTONS*/

.btn-default {
    border: .2em solid #ffffff;
    background-color: #ffffff;
    color: #222260;
    margin-top: .3em;
}


/*TOGGLE CLASS*/

.hide {
    display: none;
}

/*MAP*/

#mainMap {
    height: 500px;
    width: 500px;
}

.infowindow-content {
    display: none;
}

#mainMap .infowindow-content {
    display: inline;
}