/*CONTAINERS*/

.header-grid-container {
    width: 80%;
}

.container {
    flex-direction: column;
    align-items: center;
}

.form {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50em;
}

.selector-container {
    background-color: aliceblue;
}


/*GRID*/

.create-form {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-gap: .5em;
}

.grid {
    grid-column: span-1;
    grid-row: span 1;
}


/*WORDS*/

h1 {
    text-shadow: 1px 1px #afbbe3, 1.5px 1.5px #aebbe3, 2px 2px #acbce3;
}

h2 {
    text-shadow: none;
}

h3 {
    font-size: 1.4rem;
}


/*FORM*/

form {
    height: 100%;
}

#description {
    border: .2em solid #ffffff;
    background-color: #ffffff;
    box-shadow: -7px 14px 0px 0px rgba(0, 41, 158, 0.3);
    -webkit-box-shadow: -7px 14px 0px 0px rgba(0, 41, 158, 0.3);
    -moz-box-shadow: -7px 14px 0px 0px rgba(0, 41, 158, 0.3);
    border-radius: 1rem;
    margin-top: .4em;
}

.bubbles {
    margin: .8em 0em .8em .8em;
}

label {
    margin-right: 2em;
    text-transform: uppercase;
}

input {
    border: .2em solid #a8bae3;
}

/*MAP*/

#newActivityMap {
    display: none;
    height: 200px;
    width: 300px;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}