/*CONTAINERS*/

.header-grid-container {
    width: 80%;
}

.container {
    flex-direction: column;
    align-items: center;
}

.form {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50em;
}

.selector-container {
    background-color: rgb(240 248 255);
    margin: 1em 0em 2em 0em;
}


/*GRID*/

.create-form {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-row-gap: 2.8em;
}

.grid {
    grid-column: span 1;
    grid-row: span 1;
}


/*WORDS*/

h1 {
    text-shadow: 5px 2px rgb(175 187 227), 4px 0px rgb(175 187 227), 0px 1px rgb(175 187 227);
}

h2 {
    text-shadow: none;
}

h3 {
    font-size: 1.4rem;
}


/*FORM*/

form {
    height: 100%;
}

#description {
    border: .2em solid rgb(255 255 255);
    background-color: rgb(255 255 255);
    box-shadow: -1px 5px 0px 0px rgb(0 41 158 / .3);
    -webkit-box-shadow: -1px 5px 0px 0px rgb(0 41 158 / .3);
    -moz-box-shadow: -1px 5px 0px 0px rgb(0 41 158 / .3);
    border-radius: 1rem;
    margin-top: .8em;
}

label {
    margin-right: 2em;
    text-transform: uppercase;
}

input {
    border: .2em solid rgb(168 186 227);
    box-shadow: -1px 5px 0px 0px rgb(0 41 158 / .3);
    -webkit-box-shadow: -1px 5px 0px 0px rgb(0 41 158 / .3);
    -moz-box-shadow: -1px 5px 0px 0px rgb(0 41 158 / .3);
}

.bubbles {
    margin: .8em 0em .8em .8em;
    box-shadow: none;
}


/*MAP*/

#newActivityMap {
    display: none;
    height: 200px;
    width: 300px;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}


/*BUTTONS*/

.btn-default {
    margin-bottom: 2em;
    transition: ease 2s;
}

.btn-default:hover {
    background-color: transparent;
    color: rgb(168 186 227);
}