/*CONTAINERS*/

.container {
    align-items: flex-start;
}

.welcome {
    color: rgb(153 182 227);
    text-shadow: none;
}

.sign-up-logo {
    background-repeat: no-repeat;
    background-image: url("images/icons/rocket-launch.svg");
    background-position-y: center;
    background-position-x: center;
    height: 100%;
    width: 100%;
}

.logo-container {
    background-color: rgb(166 233 255 / 54%);
}

.sign-up {
    width: 80%;
    height: 100%;
}

input {
    padding: .6em;
    border: .2em solid rgb(231 240 254);
    background-color: rgb(231 240 254);
}

.login {
    margin-bottom: 2em;
}


/*GRID*/

.grid-container-3 {
    align-items: center;
    background-color: rgb(189 207 220);
    box-shadow: -7px 14px 0px 0px rgba(0, 41, 158, 0.3);
    -webkit-box-shadow: -7px 14px 0px 0px rgba(0, 41, 158, 0.3);
    -moz-box-shadow: -7px 14px 0px 0px rgba(0, 41, 158, 0.3);
    border-radius: 1rem;
}

.grid-style {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    margin-top: 2em;
}

.grid-1 {
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgb(189 207 220);
    box-shadow: -7px 14px 0px 0px rgba(0, 41, 158, 0.3);
    -webkit-box-shadow: -7px 14px 0px 0px rgba(0, 41, 158, 0.3);
    -moz-box-shadow: -7px 14px 0px 0px rgba(0, 41, 158, 0.3);
    border-radius: 1rem;
    padding: 4em 8em;
}

.grid-2 {
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding-top: 2em;
}


/*WORDS*/

h1 {
    color: rgb(240 249 255);
    text-shadow: 3px 1px rgb(200 239 255), 4px 1.5px rgb(203 241 255), 2px 2px rgb(202 241 255);
}

h2:hover {
    text-shadow: 1px 1px rgb(145 228 254), 2px 2px rgb(145 228 254), 3px 3px rgb(145 228 254), 4px 4px rgb(145 228 254), 5px 5px rgb(145 228 254), 6px 6px rgb(145 228 254);
}

.directions {
    font-size: 1.6rem;
    color: rgb(141 177 227);
    text-shadow: none;
    margin-top: .5em;
}

.directions:hover {
    text-shadow: none;
    left: 0px;
    top: 0px;
    position: initial;
}

.fancy {
    color: rgb(255 255 255);
    font-family: 'Beth Ellen', cursive;
    font-size: 2.0rem;
}

p {
    font-size: 1.2rem;
}

p>a {
    color: rgb(134 157 203);
    transition: 0.2s linear;
    font-family: 'Montserrat', sans-serif;
}

p>a:hover {
    cursor: pointer;
    font-size: 2.8rem;
}


/*BUTTONS*/

.btn-default {
    border: .2em solid rgb(173 187 227);
    padding: .4em;
    background-color: rgb(173 187 227);
    margin-top: 1em;
}

.btn-default:hover {
    cursor: pointer;
    font-size: 1.8rem;
}